.App {
position: absolute;
width: 1440px;
box-sizing: content-box;
max-height: 2677px;
text-align: center;
background: #ce8a8a;
align-items: center;
display:contents;
padding: 100px;
margin: 100px;
}

